/* Global Reules */
* {
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --main-transition: 0.3s;
  --section-padding: 80px 0;
  --p-color: #777;
}
body {
  font-family: "Cairo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-title {
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px 15px;
  font-size: 2rem;
  width: fit-content;
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.spikes {
  position: relative;
  background: #2c3e50;
  height: 50vh;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 0;
  z-index: 10;
  display: block;
  height: 40px;
  background-size: 40px 100%;
  background-image:
    linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-position: 0 0;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End Global Rules */

/* Start Header */

header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

header .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.6rem;
  height: 72px;
  display: flex;
  align-items: center;
}
@media (max-width: 596px) {
  header .logo {
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 25px;
  }
}

header .main-nav {
  display: flex;
}

header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 72px;
  padding: 0 30px;
  font-size: 18px;
  color: black;
  overflow: hidden;
  transition: var(--main-transition);
}
header .main-nav > li > a span {
  z-index: 100;
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  left: -100%;
  border-top: 4px var(--main-color) solid;
  top: 0;
  transition: var(--main-transition);
}
header .main-nav > li > a:hover::before {
  left: 00%;
}
header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

@media (max-width: 596px) {
  header .main-nav {
    margin: 0 auto;
  }
  header .main-nav > li > a {
    padding: 0 10px;
    height: 40px;
    font-size: 14px;
  }
}

/* End Header */

/* Start Megamenu */
.other:hover .megamenu {
  z-index: 100;
  opacity: 1;
  top: calc(100% + 2px);
}
.megamenu {
  position: absolute;
  top: calc(100% + 60px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: 4px solid var(--main-color);
  background-color: white;

  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 60px;
  transition:
    top var(--main-transition),
    opacity var(--main-transition);

  z-index: -1;
  opacity: 0;
}

.megamenu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .megamenu .image img {
    display: none;
  }
}

.megamenu .links {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  flex: 1;
}

@media (max-width: 767px) {
  .megamenu {
    gap: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  .megamenu .links {
    min-width: 100%;
  }
  .megamenu .links:first-of-type li:last-child {
    border-bottom: 1px #ddd solid;
  }
}
.megamenu .links > li {
  position: relative;
  overflow: hidden;
}
.megamenu .links > li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  left: -100%;
  transition: var(--main-transition);
}
.megamenu .links > li:hover::before {
  left: 0;
}
.megamenu .links > li a {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 15px;
  color: var(--main-color);
}
.megamenu .links > li:not(:last-child) {
  border-bottom: 1px #ddd solid;
}
.megamenu .links > li a i {
  margin-right: 10px;
}
/* End Megamenu */

/* Start Landing */
.landing {
  overflow: hidden;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  top: -15%;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}
.landing .container .text h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  margin: 0;
}
.landing .container .text p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #666;
  margin: 5px 0 0;
}
.landing .container .img img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}

.landing .container .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: go-down 2s ease-in-out infinite;
}

@media (max-width: 992px) {
  .landing .container .img {
    display: none;
  }
  .landing .container .text {
    padding: 0 50px;
    text-align: center;
  }
  .landing .container .text h1 {
    font-size: 2rem;
  }
}

/* End Landing */

/* Start Articles */

.articles {
  display: flex;
  padding: var(--section-padding);
}
.articles .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.articles .container .article-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.articles .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: var(--main-transition);
  width: calc(92% / 4);
}
@media (max-width: 990px) {
  .articles .container .box {
    width: calc(92% / 3);
  }
}
@media (max-width: 740px) {
  .articles .container .box {
    width: calc(92% / 2);
  }
}

@media (max-width: 590px) {
  .articles .container .box {
    width: calc(92% / 1);
  }
}
.articles .container .box:hover {
  transform: translateY(-8px);
}
.articles .container .box img {
  max-width: 100%;
}

.articles .container .box .text {
  padding: 15px;
}
.articles .container .box .text p {
  color: var(--p-color);
  line-height: 1.6;
}

.articles .container .box .info {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--main-color);
  font-weight: bold;
  padding: 20px;
  border-top: 1px solid #e6e6e7;
}

.articles .container .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
/* End Artical */
/* Start Gallery */
.gallery {
  background-color: var(--section-background);
  padding: 80px 0;
  height: fit-content;
}
.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.gallery .container .gallery-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}
.gallery .container .gallery-grid .box {
  width: calc(90% / 3);
  box-shadow:
    0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  padding: 15px;
  background-color: white;
}

@media (max-width: 1200px) {
  .gallery .container .gallery-grid .box {
    width: calc(90% / 2);
  }
}
@media (max-width: 590px) {
  .gallery .container .gallery-grid .box {
    width: calc(90% / 1);
  }
}
.gallery .container .gallery-grid .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .container .gallery-grid .box .image::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.184);
  z-index: 100;
  opacity: 0;
}
.gallery .container .gallery-grid .box:hover .image::before {
  animation: flash 0.7s;
}
.gallery .container .gallery-grid .box img {
  width: 100%;
  transition: var(--main-transition);
}
.gallery-grid .box:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Featuers */

.features {
  background-color: white;
  padding: var(--section-padding);
}

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.features .container .feature-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.features .container .feature-grid .box {
  width: calc(90% / 3);

  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}
.features .container .feature-grid .box .image {
  position: relative;
  overflow: hidden;
}
.features .container .feature-grid .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.features .container .feature-grid .box.quality .image::before {
  background-color: #f44036;
}
.features .container .feature-grid .box.time .image::before {
  background-color: #009688;
}
.features .container .feature-grid .box.passion .image::before {
  background-color: #03a9f4;
}
.features .container .feature-grid .box .image img {
  width: 100%;
  z-index: 1000;
}
.features .container .feature-grid .box .image::after {
  content: "";
  position: absolute;

  transition: var(--main-transition);
  bottom: 0;
  right: 0;
  border-width: 0px 0px 150px 500px;
  border-color: transparent transparent white transparent;
  border-style: solid;
}

.features .container .feature-grid .box:hover .image::after {
  border-width: 180px 500px 180px 0px;
}
.features .container .feature-grid .box h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px auto;
  position: relative;
}
.features .container .feature-grid .box h3::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 5px;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.features .container .feature-grid .box.quality h3::after {
  background-color: #f44036;
}
.features .container .feature-grid .box.time h3::after {
  background-color: #009688;
}
.features .container .feature-grid .box.passion h3::after {
  background-color: #03a9f4;
}

.features .container .feature-grid .box p {
  color: var(--p-color);
  font-size: 1.2rem;
  line-height: 2;
  padding: 10px 30px;
  text-align: center;
}

.features .container .feature-grid .box a {
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 30px auto;
  padding: 10px 30px;
  border-radius: 5px;
  overflow: hidden;
}
.features .container .feature-grid .box.quality a {
  color: #f44036;
  border: 3px solid #f44036;
}
.features .container .feature-grid .box.time a {
  color: #009688;
  border: 3px solid #009688;
}
.features .container .feature-grid .box.passion a {
  color: #03a9f4;
  border: 3px solid #03a9f4;
}
.features .container .feature-grid .box a span {
  position: relative;
  z-index: 100;
}
.features .container .feature-grid .box a:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 1;
  transition: var(--main-transition);
}

.features .container .feature-grid .box:hover a:before {
  left: 0;
}

.features .container .feature-grid .box.quality:hover a:before {
  background-color: #f44036;
}
.features .container .feature-grid .box.time:hover a:before {
  background-color: #009688;
}
.features .container .feature-grid .box.passion:hover a:before {
  background-color: #03a9f4;
}
.features .container .feature-grid .box:hover a {
  color: white;
}
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes go-down {
  0%,
  10%,
  30%,
  50%,
  70%,
  100% {
    transform: translateY(0);
  }
  20%,
  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
