/* Global Reules */
* {
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --section-background: #ececec;
  --main-transition: 0.3s;
  --section-padding: 80px 0;
  --p-color: #777;
  --container-gap: 60px;
}
body {
  font-family: "Cairo", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-title {
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid black;
  padding: 10px 15px;
  font-size: 2rem;
  width: fit-content;
  position: relative;
  transition: var(--main-transition);
  z-index: 1;
}
.main-title::before,
.main-title::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}

.spikes {
  position: relative;
  background: #2c3e50;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 0;
  z-index: 10;
  display: block;
  height: 40px;
  background-size: 40px 100%;
  background-image:
    linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-position: 0 0;
}
.dots {
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  position: absolute;
}
.dots.right {
  top: 200px;
  right: 0;
}
.dots.left {
  bottom: 200px;
  left: 0;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End Global Rules */

/* Start Header */

header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

header .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.6rem;
  height: 72px;
  display: flex;
  align-items: center;
}
@media (max-width: 596px) {
  header .logo {
    justify-content: center;
    width: 100%;
    height: 40px;
    padding: 25px;
  }
}

header .main-nav {
  display: flex;
}

header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 72px;
  padding: 0 30px;
  font-size: 18px;
  color: black;
  overflow: hidden;
  transition: var(--main-transition);
}
header .main-nav > li > a span {
  z-index: 100;
}
header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  left: -100%;
  border-top: 4px var(--main-color) solid;
  top: 0;
  transition: var(--main-transition);
}
header .main-nav > li > a:hover::before {
  left: 00%;
}
header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

@media (max-width: 596px) {
  header .main-nav {
    margin: 0 auto;
  }
  header .main-nav > li > a {
    padding: 0 10px;
    height: 40px;
    font-size: 14px;
  }
}

/* End Header */

/* Start Megamenu */
.other:hover .megamenu {
  z-index: 100;
  opacity: 1;
  top: calc(100% + 2px);
}
.megamenu {
  position: absolute;
  top: calc(100% + 60px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: 4px solid var(--main-color);
  background-color: white;

  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 60px;
  transition:
    top var(--main-transition),
    opacity var(--main-transition);

  z-index: -1;
  opacity: 0;
}

.megamenu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .megamenu .image img {
    display: none;
  }
}

.megamenu .links {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  flex: 1;
}

@media (max-width: 767px) {
  .megamenu {
    gap: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  .megamenu .links {
    min-width: 100%;
  }
  .megamenu .links:first-of-type li:last-child {
    border-bottom: 1px #ddd solid;
  }
}
.megamenu .links > li {
  position: relative;
  overflow: hidden;
}
.megamenu .links > li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  left: -100%;
  transition: var(--main-transition);
}
.megamenu .links > li:hover::before {
  left: 0;
}
.megamenu .links > li a {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 15px;
  color: var(--main-color);
}
.megamenu .links > li:not(:last-child) {
  border-bottom: 1px #ddd solid;
}
.megamenu .links > li a i {
  margin-right: 10px;
}
/* End Megamenu */

/* Start Landing */
.landing {
  overflow: hidden;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  top: -15%;
}
.landing .container {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}
.landing .container .text h1 {
  font-size: 3rem;
  letter-spacing: -2px;
  margin: 0;
}
.landing .container .text p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #666;
  margin: 5px 0 0;
}
.landing .container .img img {
  position: relative;
  width: 600px;
  animation: up-and-down 5s linear infinite;
}

.landing .container .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  animation: go-down 2s ease-in-out infinite;
}

@media (max-width: 992px) {
  .landing .container .img {
    display: none;
  }
  .landing .container .text {
    padding: 0 50px;
    text-align: center;
  }
  .landing .container .text h1 {
    font-size: 2rem;
  }
}

/* End Landing */

/* Start Articles */

.articles {
  display: flex;
  padding: var(--section-padding);
}
.articles .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--container-gap);
}
.articles .container .article-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.articles .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: var(--main-transition);
  width: calc(92% / 4);
}
@media (max-width: 990px) {
  .articles .container .box {
    width: calc(92% / 3);
  }
}
@media (max-width: 740px) {
  .articles .container .box {
    width: calc(92% / 2);
  }
}

@media (max-width: 590px) {
  .articles .container .box {
    width: calc(92% / 1);
  }
}
.articles .container .box:hover {
  transform: translateY(-8px);
}
.articles .container .box img {
  max-width: 100%;
}

.articles .container .box .text {
  padding: 15px;
}
.articles .container .box .text p {
  color: var(--p-color);
  line-height: 1.6;
}

.articles .container .box .info {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--main-color);
  font-weight: bold;
  padding: 20px;
  border-top: 1px solid #e6e6e7;
}

.articles .container .box:hover .info i {
  animation: moving-arrow 0.6s linear infinite;
}
/* End Artical */
/* Start Gallery */
.gallery {
  background-color: var(--section-background);
  padding: 80px 0;
  height: fit-content;
}
.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--container-gap);
}
.gallery .container .gallery-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}
.gallery .container .gallery-grid .box {
  width: calc(90% / 3);
  box-shadow:
    0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
  padding: 15px;
  background-color: white;
}

@media (max-width: 1200px) {
  .gallery .container .gallery-grid .box {
    width: calc(90% / 2);
  }
}
@media (max-width: 590px) {
  .gallery .container .gallery-grid .box {
    width: calc(90% / 1);
  }
}
.gallery .container .gallery-grid .box .image {
  overflow: hidden;
  position: relative;
}
.gallery .container .gallery-grid .box .image::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.184);
  z-index: 100;
  opacity: 0;
}
.gallery .container .gallery-grid .box:hover .image::before {
  animation: flash 0.7s;
}
.gallery .container .gallery-grid .box img {
  width: 100%;
  transition: var(--main-transition);
}
.gallery-grid .box:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Featuers */

.features {
  background-color: white;
  padding: var(--section-padding);
}

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--container-gap);
}

.features .container .feature-grid {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.features .container .feature-grid .box {
  width: calc(90% / 3);

  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}
@media (max-width: 1200px) {
  .features .container .feature-grid {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 60px;
  }
  .features .container .feature-grid .box {
    width: calc(90% / 2);
  }
}
@media (max-width: 670px) {
  .features .container .feature-grid {
    justify-content: center;
  }
  .features .container .feature-grid .box {
    width: calc(90% / 1);
  }
}

.features .container .feature-grid .box .image {
  position: relative;
  overflow: hidden;
}
.features .container .feature-grid .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.features .container .feature-grid .box.quality .image::before {
  background-color: #f44036;
}
.features .container .feature-grid .box.time .image::before {
  background-color: #009688;
}
.features .container .feature-grid .box.passion .image::before {
  background-color: #03a9f4;
}
.features .container .feature-grid .box .image img {
  width: 100%;
  z-index: 1000;
}
.features .container .feature-grid .box .image::after {
  content: "";
  position: absolute;

  transition: var(--main-transition);
  bottom: 0;
  right: 0;
  border-width: 0px 0px 150px 500px;
  border-color: transparent transparent white transparent;
  border-style: solid;
}

.features .container .feature-grid .box:hover .image::after {
  border-width: 180px 500px 180px 0px;
}
.features .container .feature-grid .box h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px auto;
  position: relative;
}
.features .container .feature-grid .box h3::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 5px;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.features .container .feature-grid .box.quality h3::after {
  background-color: #f44036;
}
.features .container .feature-grid .box.time h3::after {
  background-color: #009688;
}
.features .container .feature-grid .box.passion h3::after {
  background-color: #03a9f4;
}

.features .container .feature-grid .box p {
  color: var(--p-color);
  font-size: 1.2rem;
  line-height: 2;
  padding: 10px 30px;
  text-align: center;
}

.features .container .feature-grid .box a {
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 30px auto;
  padding: 10px 30px;
  border-radius: 5px;
  overflow: hidden;
}
.features .container .feature-grid .box.quality a {
  color: #f44036;
  border: 3px solid #f44036;
}
.features .container .feature-grid .box.time a {
  color: #009688;
  border: 3px solid #009688;
}
.features .container .feature-grid .box.passion a {
  color: #03a9f4;
  border: 3px solid #03a9f4;
}
.features .container .feature-grid .box a span {
  position: relative;
  z-index: 100;
}
.features .container .feature-grid .box a:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: -100%;
  height: 100%;
  z-index: 1;
  transition: var(--main-transition);
}

.features .container .feature-grid .box:hover a:before {
  left: 0;
}

.features .container .feature-grid .box.quality:hover a:before {
  background-color: #f44036;
}
.features .container .feature-grid .box.time:hover a:before {
  background-color: #009688;
}
.features .container .feature-grid .box.passion:hover a:before {
  background-color: #03a9f4;
}
.features .container .feature-grid .box:hover a {
  color: white;
}

/* End Features */
/* Start Testimonials */
.testimonials {
  background-color: var(--section-background);
  padding: var(--section-padding);
}
.testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--container-gap);
}
.testimonials-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 40px;
  flex-wrap: wrap;
}
.testimonials-grid .box {
  width: calc(95% / 3);
  background-color: white;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  transition: var(--main-transition);
}

@media (max-width: 991px) {
  .testimonials-grid .box {
    width: calc(95% / 2);
  }
}
@media (max-width: 668px) {
  .testimonials-grid .box {
    width: calc(95% / 1);
  }
}

.testimonials-grid .box:hover {
  transform: translateY(-3px);
}

.testimonials-grid .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  right: -5%;
  top: -50px;
  border: 10px solid var(--section-background);
  transition: var(--main-transition);
}
.testimonials-grid .box:hover img {
  transform: translateY(-20px);
}
.testimonials-grid .box h3 {
  margin: 10px 0;
}
.testimonials-grid .box span {
  display: block;
  margin-bottom: 10px;
  color: var(--p-color);
}
.testimonials-grid .box .rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}

.testimonials-grid .box .rating i.filled {
  color: #ffc107;
}
.testimonials-grid .box p {
  color: var(--p-color);
  line-height: 1.4;
  font-size: 1.1rem;
}
/* End Testimonials */
/* Start Team */
.team {
  padding: var(--section-padding);
}
.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--container-gap);
}
.team-grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

.team-grid .box {
  width: calc(90% / 3);
  position: relative;
  transition: var(--main-transition);
}
@media (max-width: 1200px) {
  .team-grid .box {
    width: calc(90% / 2);
  }
}
@media (max-width: 660px) {
  .team-grid {
    justify-content: center;
  }
  .team-grid .box {
    width: calc(90% / 1);
  }

  .team-grid .box .info {
    padding-left: 120px;
  }
}
.team-grid .box::before {
  content: "";
  position: absolute;
  background-color: var(--section-background);
  width: 85%;
  height: 100%;
  top: 0;
  right: 0%;
  border-radius: 10px;
  z-index: -1;
}
.team-grid .box::after {
  content: "";
  position: absolute;
  background-color: #e4e4e4;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0%;
  border-radius: 10px;
  z-index: -1;
  transition: var(--main-transition);
}
.team-grid .box:hover::after {
  width: 85%;
}
.team-grid .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team-grid .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team-grid .box .data .social a {
  width: fit-content;
  color: var(--p-color);
  transition: var(--main-transition);
}
.team-grid .box .data .social a:hover {
  color: var(--main-color);
}
.team-grid .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}
.team-grid .box:hover .data img {
  filter: grayscale(100%);
}
.team-grid .box .info {
  padding-left: 80px;
}

@media (max-width: 660px) {
  .team-grid .box .info {
    padding-left: 120px;
  }
}
.team-grid .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}
.team-grid .box:hover .info h3 {
  color: #777;
}

.team-grid .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}

/* End Team */
/* Start Services */
.services {
  padding: var(--section-padding);
  background-color: var(--section-background);
}
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--container-gap);
}
.services-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.services-grid .box {
  width: calc(90% / 3);
  position: relative;
  transition: var(--main-transition);
  background-color: white;
  box-shadow:
    0 12px 20px 0 rgb(0 0 0 / 13%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  counter-increment: services;
}
@media (max-width: 992px) {
  .services-grid .box {
    width: calc(95% / 2);
  }
}
@media (max-width: 660px) {
  .services-grid .box {
    width: calc(90% / 1);
  }
}
.services-grid .box:hover {
  transform: translateY(-15px);
}
.services-grid .box:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0%;
  background-color: var(--main-color);
  top: -3px;
  transition: var(--main-transition);
}

.services-grid .box:hover:before {
  width: 100%;
}
.services-grid .box > i {
  color: #d5d5d5;
  padding: 40px 60px 0px;
}
.services-grid .box > h3 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.services-grid .box .info {
  background-color: #f9f9f9;
  padding: 15px;
  width: 100%;
  text-align: right;
  color: var(--main-color);
  position: relative;
  overflow: hidden;
}

.services-grid .box .info:before {
  content: "0" counter(services);
  position: absolute;
  height: 100%;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services-grid .box .info::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
/* End Services */
/* Start Our-Skills */
.skills {
  padding: var(--section-padding);
}
.skills .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skills .container .content {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .skills .container .content img {
    display: none;
  }
  .skills .container .content {
    justify-content: center;
  }
}

.skills-grid {
  width: 50%;
}
@media (max-width: 992px) {
  .skills-grid {
    width: 80%;
  }
}

.skills-grid .skill {
  display: flex;
  flex-direction: column;
  position: relative;
}
.skills-grid .skill > h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-grid .skill h3 span {
  color: var(--main-color);
  font-weight: bold;
  border: 2px solid #ccc;
  padding: 4px;
  border-radius: 4px;
}
.skills-grid .skill .progress {
  position: relative;
  width: 100%;
  background-color: #eee;
  height: 30px;
}
.skills-grid .skill .progress span {
  position: absolute;
  height: 30px;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.5s linear;
}
/* End Our-Skills */
/* Start Pricing Plans */
.pricing {
  padding: var(--section-padding);
  background-color: var(--section-background);
  position: relative;
}
.pricing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--container-gap);
}
.plans {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 30px;
}
.plans .plan {
  width: calc(90% / 3);
  position: relative;
  box-shadow:
    0 12px 20px 0 rgb(0 0 0 / 13%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background: white;
  text-align: center;
}

.plans .plan:nth-child(2) {
  transform: translateY(-20px);
}
@media (max-width: 991px) {
  .plans .plan {
    width: calc(90% / 2);
  }
  .plans .plan:nth-child(2) {
    transform: translateY(0px);
  }
}
@media (max-width: 660px) {
  .plans .plan {
    width: calc(90% / 1);
  }
}
.plans .plan:nth-child(2)::before {
  content: "Most Popular";
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 20px;
}
.plans .plan:nth-child(2)::after {
  content: "";
  position: absolute;

  width: 0;
  height: 0;

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(255, 255, 255);

  right: 20px;
  top: 130px;
  z-index: 10;
}
.plans .plan h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 40px;
}
.plans .plan img {
  width: 80px;
  margin-bottom: 30px;
}
.plans .plan h4 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
  margin: 0;
}
.plans .plan span {
  color: #777;
}
.plans .plan ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.plans .plan ul li {
  text-align: start;
  padding: 20px;
  border-top: 1px solid #eee;
}
.plans .plan ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.plans .plan a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}
.plans .plan a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}
/* End Pricing Plans */
/* Start Top Videos */
.videos {
  padding: var(--section-padding);
  position: relative;
}

.videos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--container-gap);
}
.videos .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2;
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .container .box {
    flex-direction: column;
  }
}
.videos .container .box .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.videos .container .box .left .head {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: #f4f4f4;
}
.videos .container .box .left ul {
  width: 100%;
}
@media (max-width: 991px) {
  .videos .container .box .left {
    min-width: 100%;
  }
  .videos .container .box .left .head {
    justify-content: space-between;
    padding: 0 20px;
  }
}
.videos .container .box .left ul li {
  padding: 5px 20px;
  border-top: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--main-transition);
  background-color: white;
}
.videos .container .box .left ul li:hover {
  color: var(--main-color);
  background-color: #fafafa;
}
.videos .container .box .left ul li span {
  display: block;
  margin: 5px 0 10px;
  color: #777;
}
.videos .container .box .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: stretch;
  width: 100%;
  gap: 20px;
}
.videos .container .box .right img {
  max-width: 98%;
  margin-top: 10px;
}
.videos .container .box .right div {
  width: 95%;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
}

/* End Top Videos */
/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url("../imgs/stats.jpg");
  background-size: cover;
  min-height: 300px;
  padding: 100px 0;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}
.stats h2 {
  font-weight: bold;
  font-size: 40px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .box {
  background-color: white;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .box::before,
.stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  transition: 1s;
  height: 0;
}
.stats .box::before {
  top: 0;
  right: 0;
}
.stats .box::after {
  left: 0;
  bottom: 0;
}
.stats .box:hover {
  opacity: 1;
}
.stats .box:hover::before,
.stats .box:hover::after {
  height: 100%;
}
.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.stats .box .text {
  color: var(--main-color);
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}
/* End Stats */
/* Start Discount */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 10s linear infinite;
}
.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}
/* End Discount */
/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .line {
    flex-direction: column;
  }
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}
/* End Footer */
/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes go-down {
  0%,
  10%,
  30%,
  50%,
  70%,
  100% {
    transform: translateY(0);
  }
  20%,
  40%,
  60% {
    transform: translateY(-15px);
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}

@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flash {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes change-background {
  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}
/* End Animation */
